@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html{
    font-size: 10px;
}

body{
    background: #181818;
}
a{
    color: #3ea6ff;
    text-decoration: none;
}
.seperator{
    margin: 0 5px;
}

.verifiedChannel{
    display: flex;
}
.verifiedChannel::after {
    content: "check_circle";
    font-family: "Material Icons";
    font-size: 1.5rem;
    margin-left: 8px;
}

.flex-center{
    display: flex;
    align-items: center;
}